body{

    background-color:#242b31;
}
h1{
    
    color: white;
    font-size: 25px;
}
.colonne1{


    width:850px;
    height: 300px;
    
    background-color:#1d2528;


   
}
.colonne1 hr{

    background-color:#ff6d00;
    
}
.colonne1 table{

    border-top: 1px solid #47351f;
}
.colonne1 table tr td{

    width: 350px;
    height: 60px;
     color: white;
     font-family: 'Times New Roman', Times, serif;
     font-size: 15px;
     border-bottom: 1px solid #47351f;
    
  
  
}
.colonne1 table tr td i{
color:#ff6d00 ;
  
  
}
.colonne3 table tr td i{
    color:#ff6d00 ;
      
      
    }
.colonne1 h2 {

    color: white;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-top: 5px;
    padding-top: 10px;
    margin-left: 20px;

}
.colonne3 h2 {

    color: white;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-top: 5px;
    padding-top: 10px;
    margin-left: 20px;

}

.colonne1 p {

    color:#ff8d08;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: -10px;
 

}
.colonne2{

    width: 420px;
    height: 300px;
   
    position: absolute;
    left: 63%;
    top:55%;

  
   
}
.colonne2 span{
 color: white;
 font-size: 15px;
 margin-bottom : 15px;

}
.colonne2 ul li{

    list-style-type:none;
    margin-top: 20px;
}
.colonne2 h2{

    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 20px;
    padding-top:25px;
    margin-left: 40px;
}
.colonne2 h3{

    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 15px;
}
.bar,.bar1,.bar2,.bar3,.bar4 {

    height: 5px;
   background: #171c20;
   width:90%;
   margin-left: 0px;
   
}
.bar .pour{

    height: 5px;
    background:#ff8d08;
    width: 40%;
    margin-left: px;
}
.bar1 .pour{

    height: 5px;
    background:#ff8d08;
    width: 50%;
    margin-left: px;
}
.bar2 .pour{

    height: 5px;
    background:#ff8d08;
    width: 5%;
    margin-left: px;
}
.bar3 .pour{

    height: 5px;
    background:#ff8d08;
    width: 10%;
    margin-left: px;
}
.colonne3 table tr td{

    width: 350px;
    height: 60px;
     color: white;
     font-family: 'Times New Roman', Times, serif;
     font-size: 15px;
     border-bottom: 1px solid #47351f;
    
  
  
}
.colonne3{

    width: 420px;
    height: 300px;
   
    position: absolute;
    
   top:55%;

  
   
}
.colonne2 h1{

    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 20px;
    padding-top:25px;
    margin-left: 40px;
}
.colonne1,.colonne2,.colonne3{
 
 
    background-color:#1d2528;
 
}


.ligne1{

   
    
position:absolute;
left:25%;
right: 30%;
top:2%;
bottom:10%;

    
   

}

.colonne1 button img{

    height:75px;
    width:75px;
    border-radius: 50;
}
.colonne1 li i{

border-radius:50% ;
height:100px;
font-size: 35px;
margin-left: 15px;
margin-top: 25px;
text-align: center;

}
.colonne1 li{

    list-style-type: none;
    display: inline-block;
    margin-left: px;
   
}
.colonne1 li i:hover{
    color:#ff6d00;

}
.colonne1 .active i{

    color:#ff6d00;
}



.btn{

    text-align: center;
    margin-top: 25px;
}
.btn button{

    width: 130px;
    height:45px;
    border-radius: 25px;
    border:2px #171c20 solid;
   margin-left: 5px;
    color:white;
    background-color: #171c20;
    cursor: pointer;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn button:hover{


    width: 130px;
    height:45px;
    border-radius: 25px;
    border:2px #171c20 solid;
   margin-left: 5px;
    color:white;
    background-color: #ff6d00;
    cursor: pointer;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn .act{


    width: 130px;
    height:45px;
    border-radius: 25px;
    border:2px #171c20 solid;
   margin-left: 5px;
    color:white;
    background-color: #ff6d00;
    cursor: pointer;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}




.contact ul li {


    list-style-type: none;
}




.contact li i{

border-radius:50% ;
height:100px;
font-size: 35px;
margin-left: 15px;
margin-top: 18em;
text-align: center;

}
.contact li{

    list-style-type: none;
    display: inline-block;
    margin-left: px;
   
}
.contact li i:hover{
    color:#ff6d00;

}
.contact .active i{

    color:#ff6d00;
}




@media screen and (max-width:500px){



    .colonne1{

        width:165%;
      
    }
    .colonne2{

        width:165%;
        left:0%;
      
    }
    
    
    .ligne1{

   
    
        position:absolute;
        left:0%;
         
        top:5%;
        
        
            
           
        
        }
        .colonne3{

            width:165%;
            height: 300px;
           
            position: absolute;
          
              top:110%;
              
           
        
          
           
        }

        .contact li i{

            border-radius:50% ;
            height:100px;
            font-size: 35px;
            margin-left: 15px;
            margin-top: 28em;
            text-align: center;
            
            }
            .contact li{
            
                list-style-type: none;
                display: inline-block;
                margin-left: px;
               
            }
            .contact li i:hover{
                color:#ff6d00;
            
            }
            .contact .active i{
            
                color:#ff6d00;
            }
            

}