body{

    background-color:#242b31;
}
h1{
    
    color: white;
    font-size: 25px;
}
.colonne1{


    width:350px;
    height: 600px;
    
    background-color:#1d2528;


   
}
.colonne1 img{

    width:300px;
    height:290px;
   display: block;
   margin: 0 auto 0 auto;
   text-align: center;
   padding-top: 25%;
}
.colonne1 h2 {

    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-top: 5px;
    

}
.colonne1 p {

    color:#ff8d08;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: -10px;
 

}
.colonne2{

    width: 450px;
    height: 300px;
   
    position: absolute;
   left: 65%;
   top:30%;

  
   
}
.colonne2 h1{

    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 20px;
    padding-top:25px;
    margin-left: 40px;
}
.colonne2 h2{
    
}
.colonne1,.colonne2{
 
 
    background-color:#1d2528;
 
}
.colonne2 ul li {


    list-style-type: none;
}

.ligne1{

   
    
position:absolute;
left:28%;
right: 30%;
top:10%;
bottom:10%;

    
   

}

.colonne1 button img{

    height:75px;
    width:75px;
    border-radius: 50;
}
.colonne1 li i{

border-radius:50% ;
height:100px;
font-size: 35px;
margin-left: 15px;
margin-top: 25px;
text-align: center;

}
.colonne1 li{

    list-style-type: none;
    display: inline-block;
    margin-left: px;
   
}
.colonne1 li i:hover{
    color:#ff6d00;

}
.colonne1 .active i{

    color:#ff6d00;
}

.colonne2 table tr td{

    
    height:25px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    width:150px;
}
.colonne2 table {

    margin-left: 40px;
    
}
.btn{

    text-align: center;
    margin-top: 25px;
}
.btn button{

    width: 130px;
    height:45px;
    border-radius: 25px;
    border:2px #171c20 solid;
   margin-left: 5px;
    color:white;
    background-color: #171c20;
    cursor: pointer;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn button:hover{


    width: 130px;
    height:45px;
    border-radius: 25px;
    border:2px #171c20 solid;
   margin-left: 5px;
    color:white;
    background-color: #ff6d00;
    cursor: pointer;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn .act{


    width: 130px;
    height:45px;
    border-radius: 25px;
    border:2px #171c20 solid;
   margin-left: 5px;
    color:white;
    background-color: #ff6d00;
    cursor: pointer;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

@media screen and (max-width:500px){

 body{

    background-color: #242b31;
 }
    .ligne1{
 
   
    
        position:absolute;
        
        width: 100%;
        left:0;
        top:0;
        right: 0;
      
        
            
        }
        .colonne1{


            width:100%;
            height: 600px;
           
            background-color:#1d2528;
        
        
           
        }
        .colonne2{

            width: 100%;
            height: 450px;
           
            position: absolute;
           left: 0;
           margin-top:27em;
        
           
        
          
           
        }
        .colonne2 table {

            margin-left: 30px;
            margin-right: px;
            
            
        }
        .colonne2 table tr td{

    
            height:25px;
            font-size: 15px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: white;
            width:115px;
        }
        .btn button{

            width: 300px;
            margin-top:10px;
            height:55px;
            border-radius: 15px;
            border:2px #171c20 solid;
           
            color:white;
            background-color: #171c20;
            cursor: pointer;
            font-size: 25px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .btn button:hover{

            width: 300px;
            margin-top:10px;
            height:55px;
            border-radius: 15px;
            border:2px #171c20 solid;
           
            color:white;
            background-color: #ff6d00;
            cursor: pointer;
            font-size: 25px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        .btn {

            text-align: center;
        }
        .btn .act{


            width: 300px;
            height:55px;
            border-radius: 15px;
            border:2px #171c20 solid;
             margin-left: px;
            color:white;
            background-color: #ff6d00;
            cursor: pointer;
            font-size: 25px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
        
        }
        .colonne2 h1{

            font-family: 'Times New Roman', Times, serif;
            color: white;
            font-size: 20px;
           
            text-align: center;
        }

}